#postbox {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0; }

.post-link {
  width: auto;
  height: 100vw; }

.post {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0 auto;
  /* Make the width of box same as image */ }
  .post > picture, .post > picture > img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .post .text {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    padding: 0%;
    left: 0;
    right: 0;
    /* padding-bottom: 20px; */
    bottom: 0;
    /* top: 40%; */
    text-align: center;
    /* width: 100%; */ }
    .post .text h3 {
      padding: 0;
      margin: 5px 0px 2px 0px; }

.post-date {
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif; }

.post-title {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  padding: 0;
  margin: 0; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

main {
  margin: 0;
  padding: 0;
  overflow: hidden; }

img {
  max-width: 100%; }

a {
  color: white;
  text-decoration: none; }

.site-header {
  height: 62px;
  padding-top: 10px;
  padding-left: 20px;
  border-bottom: thin solid black; }

.site-title {
  position: absolute;
  color: black;
  font-size: 40px;
  font-family: "Roboto Slab",serif;
  font-weight: 700;
  font-style: normal;
  z-index: 5; }

.site-nav {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  z-index: 3;
  width: 72px;
  height: 72px; }
  .site-nav .nav-trigger {
    display: none; }
  .site-nav .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 26px;
    padding-right: 18px;
    text-align: center; }
    .site-nav .menu-icon > svg path {
      fill: black; }
  .site-nav label[for="nav-trigger"] {
    display: block;
    float: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer; }
  .site-nav input ~ .trigger {
    clear: both;
    display: none; }
  .site-nav input:checked ~ .overlay {
    background: white;
    bottom: 0;
    left: 0;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -5; }
  .site-nav input:checked ~ .trigger {
    display: block;
    position: absolute;
    left: calc(72px - 100vw);
    height: 100%;
    right: 0;
    top: 72px;
    bottom: 0;
    overflow-y: auto;
    border-top: thin solid black; }
  .site-nav .page-link {
    color: black;
    display: block;
    position: relative;
    font-size: 18px;
    font-family: "Roboto Slab", serif; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 0; }
  @media screen and (min-width: 750px) {
    .site-nav {
      float: right;
      border: none;
      background-color: inherit;
      padding-top: 26px; }
      .site-nav label[for="nav-trigger"] {
        display: none; }
      .site-nav .menu-icon {
        display: none; }
      .site-nav input ~ .trigger {
        display: block; }
      .site-nav .page-link {
        display: inline;
        margin-left: auto; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 20px; } }

@media screen and (min-width: 500px) {
  #postbox {
    grid-template-columns: repeat(2, 1fr); }

  .post-link {
    height: calc(100vw/2); }

  .half-par > picture > img.some-other-class {
    width: 95%;
    margin: 0; }

  .half-par.right > picture > img.some-other-class {
    display: block;
    margin-left: auto;
    justify-content: flex-end;
    align-self: flex-end; }

  .flex {
    display: flex; } }
@media screen and (min-width: 750px) {
  #postbox {
    grid-template-columns: repeat(3, 1fr); }

  .post-link {
    height: calc(100vw/3); } }
@media screen and (min-width: 1000px) {
  #postbox {
    grid-template-columns: repeat(4, 1fr); }

  .post-link {
    height: calc(100vw/4); } }
.post-header {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  max-height: calc(100vh - 100px);
  height: 1000px;
  overflow: hidden;
  position: relative;
  display: inline-block; }
  .post-header .introimage {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .post-header .introimage img {
      object-fit: cover;
      width: 100%;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      transform: translateY(-50%); }
  .post-header .text {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left; }
  .post-header p {
    margin: 5px 0 0 5px; }
  .post-header h1 {
    margin: 3px 0 3px 5px; }

.post-content {
  max-width: 750px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

figcaption {
  clear: both;
  text-align: center;
  font-size: 15px;
  font-style: italic;
  color: #1e1e1e;
  margin-top: 2px; }

.full-width > picture > img, .almost-full-width > picture > img, .full-par-width > picture > img, .half-par > picture > img {
  width: 100%;
  margin: 0; }

.full-width {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; }

.almost-full-width {
  position: relative;
  width: 90vw;
  left: 50%;
  right: 50%;
  margin-left: -45vw;
  margin-right: -45vw; }

.full-par-width {
  width: 100%;
  margin: 0; }

.half-par {
  width: 100%;
  margin: 0; }
  .half-par.left {
    margin-right: auto; }
  .half-par.right {
    margin-left: auto; }
  .half-par img {
    max-height: 100%; }

.portrait-image {
  max-width: 350px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .portrait-image > picture > img {
    max-width: 350px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }

.tpage-header {
  text-align: center; }
