html, body {
  padding: 0;
  margin: 0;
  width:100%;
  height:100%;
}

main{
  margin: 0;
  padding:0;
  overflow: hidden
}

img{
  max-width:100%;
}

a{
  color: white;
  text-decoration: none;
}

.site-header{
  height:62px;
  padding-top:10px;
  padding-left:20px;
  border-bottom: thin solid black;
}

.site-title{
  position: absolute;
  color:black;
  font-size: 40px;
  font-family: "Roboto Slab",serif;
  font-weight: 700;
  font-style: normal;
  z-index: 5;
}

// ---------------------- NAV Bar ------------------------
.site-nav {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  z-index: 3;
  width: 72px;
  height: 72px;
  // border-left: thin solid black;

  .nav-trigger {
      display: none;
  }


  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 26px;
    padding-right:18px;
    text-align: center;

    > svg path {
      fill: black;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: center;
    width:100%;
    height:100%;
    z-index: 1;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .overlay {
    background: white;
    bottom: 0;
    left: 0;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -5;
  }


  input:checked ~ .trigger {
    display: block;
    position: absolute;
    left: calc(72px - 100vw);
    height: 100%;
    right: 0;
    top:72px;
    bottom:0;
    overflow-y: auto;
    border-top: thin solid black;
  }


  .page-link {
    color: black;
    display: block;
    position:relative;
    // padding: 5px 10px;
    font-size: 18px;
    font-family: "Roboto Slab", serif;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $on-tablet) {
    // position: static;
    float: right;
    border: none;
    background-color: inherit;
    padding-top: 26px;
    
    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      
      

      &:not(:last-child) {
        margin-right: 20px;
      }
      margin-left: auto;
    }
  }
}
