.post-header {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  max-height: calc(100vh - 100px);
  height: 1000px;
  overflow: hidden;
  position: relative;
  display: inline-block;

  .introimage {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    img {
      object-fit: cover;
      width: 100%;
      // transform: translateY(-30%);
      position: absolute;
      width: 100%;
      height: 100%;

      top: 50%;
      //   left:0;
      //   right:0;
      //   bottom:0;
      transform: translateY(-50%);
      // left: calc((-100vw + 33.3em) / 2);
    }
  }

  .text {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
  }

  p {
    margin: 5px 0 0 5px;
  }

  h1 {
    margin: 3px 0 3px 5px;
  }
}


.post-content {
  max-width: 750px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}


figcaption {
  clear:both;
  text-align: center;
  font-size: 15px;
  font-style: italic;
  color: rgba(30, 30, 30, 1);
  margin-top: 2px;
}

%picture-shared{
  &>picture>img {
    width: 100%;
    margin: 0;
  }
}

.full-width {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  @extend %picture-shared
}

.almost-full-width {
  position: relative;
  width: 90vw;
  left: 50%;
  right: 50%;
  margin-left: -45vw;
  margin-right: -45vw;
  @extend %picture-shared
}



.full-par-width {
  width: 100%;
  margin: 0;
  @extend %picture-shared
}




.half-par {
  width: 100%;
  margin: 0;

  &.left {
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }

  img {
    max-height: 100%;
  }
  @extend %picture-shared

}


.portrait-image {
  max-width: 350px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &>picture>img {
  max-width: 350px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  }
}
